In [1]:
import math
z = 81
print(math.sqrt(z))

9.0

### Formating with f-strings

In [3]:

username="Harrtedwin"
print(f"Hello Mr.{username}")

Hello Mr.Harrtedwin

In [21]:
unit_price = 4900.57
quantity = 30
print(f"Subtotal: Kes.{quantity*unit_price}")

Subtotal: Kes.147017.09999999998

### Showing amounts with commas

> To get a comma to show in amount and the pennies to be two digits, you
can use a format string inside the curly braces of an expression in an f-string. The
format string starts with a colon and needs to be placed inside the closing curly
brace, right up against the variable name or the value being shown.

In [22]:
print(f"Subtotal: Kes.{quantity*unit_price:,}")

Subtotal: Kes.147,017.09999999998

In [23]:
# To get the pennies to show as thow digits, follow comma with .2f
print(f"Subtotal: Kes.{quantity*unit_price:,.2f}")

Subtotal: Kes.147,017.10

#### Formatting percent numbers

In [25]:
# We have a sales_tax_rate that is equivalent to 6.5%
sales_tax_rate = 0.065
print(f"Sales Tax Rate = {sales_tax_rate}")

Sales Tax Rate = 0.065

In [26]:
# If we want to print it as a percetage we would use .2% after :
print(f"Sales Tax Rate = {sales_tax_rate:,.2%}")

Sales Tax Rate = 6.50%

In [30]:
print(f"Sales Tax Rate = {sales_tax_rate:.1%}")

Sales Tax Rate = 6.5%

In [32]:
### Different styles for printing
sales_tax_rate=0.065
sample1 = f'Sales Tax Rate {sales_tax_rate:.1%}'
sample2 = f"Sales Tax Rate {sales_tax_rate:.2%}"
sample3 = f"""Sales Tax Rate {sales_tax_rate:.3%}"""
sample4 = f'''Sales Tax Rate {sales_tax_rate:%}'''

print(sample1)
print(sample2)
print(sample3)
print(sample4)

Sales Tax Rate 6.5%
Sales Tax Rate 6.50%
Sales Tax Rate 6.500%
Sales Tax Rate 6.500000%

### Making Multiline format strings

In [34]:
user1 = "Alberto"
user2 = "Babs"
user3 = "Carlos"

output = f"{user1}\n{user2}\n{user3}"
print(output)

Alberto
Babs
Carlos

### Use Triple Quotation Marks
#### If you use triple quotation marks around format string then \n will not be required

In [41]:
unit_price = 49.95
quantity = 32
sales_tax_rate = 0.065
subtotal = quantity * unit_price
sales_tax = sales_tax_rate * subtotal
total = subtotal + sales_tax

output = f"""
Subtotal: Kes {subtotal:,.2f}
Sales Tax: Kes {sales_tax:,.2f}
Total: Kes {total:,.2f}
"""

print(output)

Subtotal: Kes 1,598.40
Sales Tax: Kes 103.90
Total: Kes 1,702.30

### Formatting width and alignment

In [49]:
unit_price = 49.95
quantity = 32
sales_tax_rate = 0.065
subtotal = quantity * unit_price
sales_tax = sales_tax_rate * subtotal
total = subtotal + sales_tax

output = f"""
Subtotal: ${subtotal:>9,.2f}
Sales Tax: ${sales_tax:>7,.2f}
Total: ${total:>9,.2f}
"""

print(output)

Subtotal: $ 1,598.40
Sales Tax: $ 103.90
Total: $ 1,702.30

In [50]:
unit_price = 49.95
quantity = 32
sales_tax_rate = 0.065
subtotal = quantity * unit_price
sales_tax = sales_tax_rate * subtotal
total = subtotal + sales_tax

#Format amounts to show as string with leading dollar sign
s_subtotal = "$" + f"{subtotal:,.2f}"
s_sales_tax = "$" + f"{sales_tax:,.2f}"
s_total = "$" + f"{total:,.2f}"

#Output the string with dollar sign already attached
output = f"""
Subtotal: {s_subtotal:>9}
Sales Tax: {s_sales_tax:>9}
Total: {s_total:>9}
"""

print(output)

Subtotal: $1,598.40
Sales Tax:   $103.90
Total: $1,702.30

In [51]:
print(hex(255))

0xff