In [1]:
import math
z = 81
print(math.sqrt(z))

9.0

### Formating with f-strings

In [3]:

username="Harrtedwin"
print(f"Hello Mr.{username}")

Hello Mr.Harrtedwin

In [21]:
unit_price = 4900.57
quantity = 30
print(f"Subtotal: Kes.{quantity*unit_price}")

Subtotal: Kes.147017.09999999998

### Showing amounts with commas

> To get a comma to show in amount and the pennies to be two digits, you
can use a format string inside the curly braces of an expression in an f-string. The
format string starts with a colon and needs to be placed inside the closing curly
brace, right up against the variable name or the value being shown.

In [22]:
print(f"Subtotal: Kes.{quantity*unit_price:,}")

Subtotal: Kes.147,017.09999999998

In [23]:
# To get the pennies to show as thow digits, follow comma with .2f
print(f"Subtotal: Kes.{quantity*unit_price:,.2f}")

Subtotal: Kes.147,017.10

#### Formatting percent numbers

In [25]:
# We have a sales_tax_rate that is equivalent to 6.5%
sales_tax_rate = 0.065
print(f"Sales Tax Rate = {sales_tax_rate}")

Sales Tax Rate = 0.065

In [26]:
# If we want to print it as a percetage we would use .2% after :
print(f"Sales Tax Rate = {sales_tax_rate:,.2%}")

Sales Tax Rate = 6.50%

In [30]:
print(f"Sales Tax Rate = {sales_tax_rate:.1%}")

Sales Tax Rate = 6.5%

In [32]:
### Different styles for printing
sales_tax_rate=0.065
sample1 = f'Sales Tax Rate {sales_tax_rate:.1%}'
sample2 = f"Sales Tax Rate {sales_tax_rate:.2%}"
sample3 = f"""Sales Tax Rate {sales_tax_rate:.3%}"""
sample4 = f'''Sales Tax Rate {sales_tax_rate:%}'''

print(sample1)
print(sample2)
print(sample3)
print(sample4)

Sales Tax Rate 6.5%
Sales Tax Rate 6.50%
Sales Tax Rate 6.500%
Sales Tax Rate 6.500000%

### Making Multiline format strings

In [34]:
user1 = "Alberto"
user2 = "Babs"
user3 = "Carlos"

output = f"{user1}\n{user2}\n{user3}"
print(output)

Alberto
Babs
Carlos

### Use Triple Quotation Marks
#### If you use triple quotation marks around format string then \n will not be required

In [41]:
unit_price = 49.95
quantity = 32
sales_tax_rate = 0.065
subtotal = quantity * unit_price
sales_tax = sales_tax_rate * subtotal
total = subtotal + sales_tax

output = f"""
Subtotal: Kes {subtotal:,.2f}
Sales Tax: Kes {sales_tax:,.2f}
Total: Kes {total:,.2f}
"""

print(output)

Subtotal: Kes 1,598.40
Sales Tax: Kes 103.90
Total: Kes 1,702.30

### Formatting width and alignment

In [49]:
unit_price = 49.95
quantity = 32
sales_tax_rate = 0.065
subtotal = quantity * unit_price
sales_tax = sales_tax_rate * subtotal
total = subtotal + sales_tax

output = f"""
Subtotal: ${subtotal:>9,.2f}
Sales Tax: ${sales_tax:>7,.2f}
Total: ${total:>9,.2f}
"""

print(output)

Subtotal: $ 1,598.40
Sales Tax: $ 103.90
Total: $ 1,702.30

In [50]:
unit_price = 49.95
quantity = 32
sales_tax_rate = 0.065
subtotal = quantity * unit_price
sales_tax = sales_tax_rate * subtotal
total = subtotal + sales_tax

#Format amounts to show as string with leading dollar sign
s_subtotal = "$" + f"{subtotal:,.2f}"
s_sales_tax = "$" + f"{sales_tax:,.2f}"
s_total = "$" + f"{total:,.2f}"

#Output the string with dollar sign already attached
output = f"""
Subtotal: {s_subtotal:>9}
Sales Tax: {s_sales_tax:>9}
Total: {s_total:>9}
"""

print(output)

Subtotal: $1,598.40
Sales Tax:   $103.90
Total: $1,702.30

In [51]:
print(hex(255))

0xff

### Working with complex number

##### Exampe z = 2-3j

In [54]:
z = complex(2,-3)
print(z)

(2-3j)

##### Tracking the real and imaginery number

In [60]:
print(f"Real number is {z.real}")
print(f"Imaginary number is {z.imag}")

Real number is 2.0
Imaginary number is -3.0

### Ucovering Dates and times

In [70]:
### Shows a date consistig of month, day, and year - No time Information
import datetime
datetime.date
### hour, minute,second
datetime.time
### Single item of data that incudes date,time and optionally timezone info
datetime.datetime

datetime.datetime

### Working with dates

In [79]:
### Import datetime module, nivkname as dt
import datetime as dt
print(dt.date.today())

2022-11-21

In [80]:
print(dt.datetime.today())

2022-11-21 19:37:48.379854

In [78]:
### Inputing your own date
myOwnDate = dt.date(2022,12,28)
print(myOwnDate)

2022-12-28

In [82]:
print(f"The month is {myOwnDate.month}")
print(f"The Date is {myOwnDate.day}")
print(f"The Year is {myOwnDate.year}")

The month is 12
The Date is 28
The Year is 2022

In [83]:
print(f"{myOwnDate:%A, %B %d, %Y}")

Wednesday, December 28, 2022

In [90]:
import datetime as dt
today = dt.date.today()
todays_date = f"{today:%m/%d/%Y}"
print(todays_date)

11/21/2022

In [91]:
todays_date = f"{today:%a, %b %d %Y}"
print(todays_date)

Mon, Nov 21 2022

In [92]:
todays_date = f"{today:%x}"
print(todays_date)

11/21/22

In [93]:
todays_date = f"{today:%m-%d-%Y}"
print(todays_date)

11-21-2022

In [96]:
todays_date = f"{today:%A %B %d %Y}"
print(todays_date)

Monday November 21 2022

In [97]:
todays_date = f"{today:%A %B %d is day number %j of %Y}"
print(todays_date)

Monday November 21 is day number 325 of 2022

#### Directive Description Example
> - *%a* Weekday, abbreviated Sun
> - %A Weekday, full Sunday
> - %w Weekday number 0-6, where 0 is Sunday 0
> - %d Number day of the month 01-31 31
> - %b Month name abbreviated Jan
> - %B Month name full January
> - %m Month number 01-12 01
> - %y Year without century 19
> - %Y Year with century 2019
> - %H Hour 00-23 23
> - %I Hour 00-12 11
> - %p AM/PM PM
> - %M Minute 00-59 01
> - %S Second 00-59 01
> - %f Microsecond 000000-999999 495846
> - %z UTC offset -0500
> - %Z Time zone EST
> - %j Day number of year 001-366 300
> - %U Week number of year, Sunday as the first day of week, 00-53 50
> - %W Week number of year, Monday as the first day of week, 00-53 50
> - %c Local version of date and time Tue Dec 31 23:59:59 2018
> - %x Local version of date 12/31/18
> - %X Local version of time 23:59:59
> - %% A % character %

#### Working with times

In [99]:
midnight = datetime.time()
print(midnight)

00:00:00

#### The fourth optional value you can pass to time() is microseconds (millionths of a second). For example, the following code puts a time that’s a millionth of a second before midnight in a variable named almost_midnight and then displays that time onscreen with a print() function

In [100]:
almost_midnight = dt.time(23,59,59,999999)
print(almost_midnight)

23:59:59.999999

In [102]:
print(f"{almost_midnight:%I:%M %p}")

11:59 PM

In [103]:
print(f"{almost_midnight:%H:%M:%S and %f microseconds}")

23:59:59 and 999999 microseconds

In [104]:
print(f"{almost_midnight:%X}")

23:59:59

In [105]:
import datetime as dt
right_now = dt.datetime.now()
print(right_now)

2022-11-21 20:03:30.499210

In [107]:
import datetime as dt
right_now = dt.datetime.now()
print(f"The time currently is {right_now:%H:%M:%S and %f microseconds}")

The time currently is 20:05:05 and 265679 microseconds

In [109]:
import datetime as dt
new_years_day = dt.date(2023,1,1)
duration = dt.timedelta(days=146)
print(new_years_day + duration)

2023-05-27

### Calculating time-spans

##### Sometimes just knowing the date or time isn’t enough. Sometimes you need to know the duration or timespan as it’s typically called in the computer world. In other words, not the date, not the o’clock, but the “how long” in terms of years, months, weeks, days, hours, minutes, or whatever. For timespans, the Python datetime module includes the datetime.timedelta class.

##### A timedelta object is created automatically whenever you subtract two dates, times, or datetimes to determine the duration between them. For example, suppose you create a couple of variables to store dates, perhaps one for New Year’s Day, another for Memorial Day. Then you create a third variable named days_ between and put in it the difference you get by subtracting the earlier date from the later date, as follows:

In [113]:
import datetime as dt
new_years_day = dt.date(2019,1,1)
memorial_day = dt.date(2019,5,27)
days_between = memorial_day - new_years_day
print(days_between)

146 days, 0:00:00

In [114]:
import datetime as dt
new_years_day = dt.date(2019,1,1)
duration = dt.timedelta(days=146)
print(new_years_day + duration)

2019-05-27

In [111]:
import datetime as dt
memorial_day = dt.date(2022,5,27)
duration = dt.timedelta(days=146)
print(memorial_day - duration)

2022-01-01

In [115]:
import datetime as dt
now = dt.datetime.now()
birthdatetime = dt.datetime(1995, 3, 31, 8, 26)
age = now - birthdatetime
print(age)
print(type(age))

10097 days, 12:02:40.339823
<class 'datetime.timedelta'>

In [116]:
import datetime as dt
today = dt.date.today()
birthdate = dt.date(2000, 12, 31)
delta_age = (today - birthdate)
print(delta_age)

7995 days, 0:00:00

In [117]:
delta_age = (today - birthdate)
days_old = delta_age.days
print(days_old, type(days_old))

7995 <class 'int'>

In [118]:
years_old = days_old // 365
print(years_old)

21

#### Working with Timezones

In [121]:
### Import date module
import datetime as dt

### Getting date from my computer clock
here_now = dt.datetime.now()

### Get the UTC datetime right now
utc_now = dt.datetime.utcnow()

### subtract to see the difference
time_difference = (here_now - utc_now)

### Show results
print(f"My time: {here_now:%I:%M %p}")
print(f"UTC time: {utc_now:%I:%M %p}")
print(f"Time Difference: {time_difference}")

My time: 08:38 PM
UTC time: 05:38 PM
Time Difference: 3:00:00

In [134]:
# import datetime and dateutil tz
import datetime as dt
# import timezone helpers from dateutil
from dateutil.tz import gettz

# November 21 Event, 7:00 Local time (no specific time zone).
event = dt.datetime(2022,11,4,19,0,0)
#show Local date and time
print("Local:" + f"{event:%A %D %I:%M %p %Z}" + "\n")

# UTC time right now
utc = dt.datetime.now(gettz('Etc/UTC'))
print(f"{utc:%A %D %I:%M %p %Z}")

# USA Eastern time
est = dt.datetime.now(gettz('America/New_York'))
print(f"{est:%A %D %I:%M %p %Z}")

# USA Central time
cst = dt.datetime.now(gettz('America/Chicago'))
print(f"{cst:%A %D %I:%M %p %Z}")

# USA Mountain time
mst = dt.datetime.now(gettz('America/Boise'))
print(f"{mst:%A %D %I:%M %p %Z}")

# USA PST time
pst = dt.datetime.now(gettz('America/Los_Angeles'))
print(f"{pst:%A %D %I:%M %p %Z}")

Local:Friday 11/04/22 07:00 PM

Monday 11/21/22 05:54 PM UTC
Monday 11/21/22 12:54 PM EST
Monday 11/21/22 11:54 AM CST
Monday 11/21/22 10:54 AM MST
Monday 11/21/22 09:54 AM PST

In [3]:
# Working with list
fruits = ['apples', 'mangoes','bananas','guava']
print(fruits)

['apples', 'mangoes', 'bananas', 'guava']

In [4]:
fruits.sort()
print(fruits)

['apples', 'bananas', 'guava', 'mangoes']

In [5]:
fruits.append('pineapples')
print(fruits)

['apples', 'bananas', 'guava', 'mangoes', 'pineapples']

In [7]:
fruits.reverse()
print(fruits)

['pineapples', 'mangoes', 'guava', 'bananas', 'apples']

In [13]:
prices = (29.95, 9.98, 4.95, 79.98, 2.95)
look_for =4.95
if look_for in prices:
    position = prices.index(look_for)
else:
    position=-1
print(position)

2

In [10]:
print(prices.count(4.95))

1

In [18]:
for price in prices:
    print(f'kes {price:.2f}')

kes 29.95
kes 9.98
kes 4.95
kes 79.98
kes 2.95